<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>error</title>
    <script src="/webjars/jquery/1.11.1/jquery.min.js" type="application/javascript"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.css">
</head>
<body>
<nav th:replace="component::topBar" ></nav>
<div class="container-fluid" style="width: 87%;margin:30px auto;">
    <div class="row">
        <div class="jumbotron">
            <h1>Error!</h1>
            <p th:text="${status}" >...</p>
            <p th:text="${message}"></p>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">返回首页...</a></p>
        </div>
    </div>
</div>

</body>
</html>