<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布</title>
    <script src="/webjars/jquery/1.11.1/jquery.min.js" type="application/javascript"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.css">
    <style rel="stylesheet">
        .centered{
            width: 1200px;
            margin:30px auto;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">广外社区</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">广外社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login" th:if="${session.user==null}">登录</a></li>
                <li><a th:if="${session.user==null}" href="https://github.com/login/oauth/authorize?client_id=c64b4a90108f6a0b3e8e&redirect_uri=http://localhost/callback&scope=user&state=1">GitHub登录</a></li>
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" th:text="${session.user.username}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
    <div class="container-fluid centered">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="">
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true">发起问题</span></h2>
                <hr/>
                <form action="/publish" method="post">
                    <div class="form-group">
<!--                        <label for="title" style="display: none">标题</label>-->
                        <input type="text" class="form-control" id="title" placeholder="标题" name="title">
                    </div>
                    <div class="form-group">
<!--                        <label for="detail" style="display: none">详细内容</label>-->
                        <textarea style="resize: none" class="form-control" rows="6"  placeholder="详细内容..." id="detail" name="detail" ></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="tags" name="tags" placeholder="请输入标签，以 ，分隔">
                    </div>

                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
            <div class="col-lg-3  col-md-12 col-sm-12 col-xs-12">
                <h3>问题发起指南</h3>
                <h4>标题: <span>请用简洁的语言描述您发布的问题，尽量不超过25字</span></h4>
                <h4>详细内容: <span>请详细描述您的问题以便他人能更好地给予您帮助</span></h4>
                <h4>标签: <span>请选择一个或多个合适的标签</span></h4>
                <h4>关于积分: <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, natus!</span></h4>
            </div>
        </div>
    </div>

</body>
</html>