<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布</title>
    <script src="/webjars/jquery/1.11.1/jquery.min.js" type="application/javascript"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.css">
</head>
<body>
    <nav th:replace="component::topBar"></nav>
    <div class="container-fluid " style="width: 87%;margin:30px auto;">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="">
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true">发起问题</span></h2>
                <hr/>
                <form action="/publish" method="post">
                    <div class="form-group">
<!--                        <label for="title" style="display: none">标题</label>-->
                        <input type="text" class="form-control" id="title" placeholder="标题" name="title">
                    </div>
                    <div class="form-group">
<!--                        <label for="detail" style="display: none">详细内容</label>-->
                        <textarea style="resize: none" class="form-control" rows="6"  placeholder="详细内容..." id="detail" name="detail" ></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="tags" name="tags" placeholder="请输入标签，以 ，分隔">
                    </div>

                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
            <div class="col-lg-3  col-md-12 col-sm-12 col-xs-12">
                <h3>问题发起指南</h3>
                <h4>标题: <span>请用简洁的语言描述您发布的问题，尽量不超过25字</span></h4>
                <h4>详细内容: <span>请详细描述您的问题以便他人能更好地给予您帮助</span></h4>
                <h4>标签: <span>请选择一个或多个合适的标签</span></h4>
                <h4>关于积分: <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, natus!</span></h4>
            </div>
        </div>
    </div>

</body>
</html>